/* Original from create-react-app: */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Old css from dowloaded project files */

/* For modal project: */
/*
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*/

/* Commented out to continue testing the Teacher project below */
/* 
.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  font-size: 2.5em;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .9);
}

.modal button {
  margin-left: 20px;
}
*/

/* For Teacher project: */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #222;
}

.App {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-right: auto;
}

button {
  background-color: steelblue;
  font-size: 1em;
  color: white;
  outline: 0;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s;
}

button:active {
  background-color: #29587e;
}

.spinner {
  width: 180px;
  display: block;
  margin: 50px auto 0;
}

.teacher-name,
button {
  text-transform: capitalize;
}

img {
  width: 100%;
  border-radius: .3em;
}

.teacher-name {
  color: rgba(0,0,0, 0.7);
}